.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0,200px;
}
nav > h3 {
  font-weight:1000px;

  
}
nav ul{
  display: flex;
  align-items: center;}
nav ul li{
    list-style: none;
    margin-right: 50px;}
nav li a{
      text-decoration: none;
      font-size: 20px;}
  /* button style */
.btn-primary{
    background-color: white;
    color: rgba(13, 19, 33, 1);
    font-weight:bold;
    font-size: 20px;
    padding: 17px 24px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-secondary{
  background-color:rgba(13, 19, 33, 1);
    color: white;
    font-weight:bold;
    font-size: 20px;
    padding: 17px 24px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-third{
  background-color: white;
    color: rgba(13, 19, 33, 1);
    font-weight:bold;
    font-size: 15px;
    width: 171px;
    height:47px;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;

}

/* header */
.banner{
  background-image: url("..//assets/Hero-bg.png");
  background-repeat: no-repeat;
  width: 1280;
}

/* banner */
.banner-profile-picture{
  padding-top: 40px;
}
div.banner{
  justify-content: center;
  text-align: center;
}

 /* image style  */
 

 
.right{
  display: inline-flex;
  justify-content: space-between;
  float: inline-end;
  width:240px;
  height: 240px; 
  

}

.left{
  display: inline-flex;
  justify-content: space-between;
  float: inline-start;
  width:240px; 
  height: 240px;
}

.alignment{

  gap: 24px;
}
.picture{
  align-items: flex-start;
}


/* why web */
.why-web{
  text-align: center;
}
/* footer */
footer>ul>li{
  display: inline;
}
  /* skills */
.skill{
      padding: 30px;
      background-color:rgba(255, 76, 30, 0.05) ;
      border-radius: 10px;

    }
.skillone{
  padding: 30px;
  background-color:rgba(0, 76, 232, 0.05);
  border-radius: 10px;
  

}    
.skill-two{
  padding: 30px;
  background-color:rgba(255, 223, 0, 0.05) ;
  border-radius: 10px;
 
}
.skills-container{
    display: flex;
    gap: 24px;
    
}

/* support */
.bg-picture{
       color: white;
       text-align: center;
       background-image: url("..//assets/handshake.jpg"); 
       padding:64px 48px;
       image-resolution: 1140px 313px;
       background-repeat: no-repeat;
       
}
.submit{
  background-color:rgba(255, 255, 255, 1) ;
  font-weight: bold;
  padding: 5px 14px;
  cursor: pointer;
  border-radius:5px;
  border-color:white;
      
}
.box{
  padding: 5px 80px;
  border-radius: 5px;
  border-color: white;

}
/* position */
.position{
  color:rgba(13, 19, 33, 0.7) ;
}
/* link learn more */
.link{
  color: black;
}
.go{
  color: black;
}